.to-do-input {
    height: 50px;
    background-color: hsl(235, 24%, 19%);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px
}

.tarefas-concluidas {
    margin-top: 1rem;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
}