::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;        
  }

input {
    color: white;    
}

.button-input {
    font-size: 1.5rem;
}