::ng-deep body {
    background-image: url('../../../assets/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-color: rgb(68, 68, 202);
}

.container {
    border: 1px solid black;
    margin: auto;    
    max-width: 50vw;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    justify-content: space-between;
    display: flex;
}

.titulo-todo {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}